<div>
  <form>
    <input type="text" size="30" id="pitcher-name" placeholder="Pitcher" autocomplete="off" class="form-control"/>
    <input type="text" style="display:none" ng-model="pitcher" id='pitcher-id'/>
    <input type="text" size="30" id="batter-name" placeholder="Batter" autocomplete="off" class="form-control"/>
    <input type="text" style="display:none" ng-model="batter" id="batter-id"/>
    <input type="submit" value="Find" class="btn btn-primary" ng-click="search()"/>
  </form>
</div>